<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="CSS/main.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <!-- Contact -->
    <section class="background-about" id="contact">
        <div class="container">
            <div class="p-5">
                <h1 class="text-light pt-5 pb-3 fw-normal a-line">Drop A Line</h1>
                <div class="justify-content-center main">
                    <div class="row">
                        <div class="col-sm-12 col-md-4 col-lg-4 col-12">
                            <div class="pb-3">
                                <div class="h6 text-light text">Phone</div>
                                <p class="text-secondary">+91 7862945601</p>
                            </div>
                            <div>
                                <div class="h6 text-light text">E-mail</div>
                                <p class="text-secondary">example@gmail.com</p>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-4 col-12">
                            <form>
                                <input class="input_field required form-control" type="text" name="name" placeholder="Name"> <br/>
                                <input class="input_field required form-control" type="email" name="email" placeholder="E-mail">

                                <div class="d-flex">
                                    <a class="instagram d-none d-sm-block" href="https://www.instagram.com/masum_1816/">
                                        <img src="Images/instagram.svg" alt="instagram">
                                    </a>
                                    <a class="linkdin d-none d-sm-block" href="https://www.linkedin.com/in/masum-mangukiya-a89743292/">
                                        <img src="Images/linkedin.svg" alt="linkdin">
                                    </a>
                                    <a class="twitter d-none d-sm-block" href="#\https://twitter.com/MasumM65158">
                                        <img src="Images/twitter.svg" alt="twitter">
                                    </a>
                                    <a class="facebook d-none d-sm-block" href="https://github.com/Masum1816">
                                        <img src="Images/github.svg" alt="github">
                                    </a>
                                </div>
                            </form>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-4 col-12">
                            <form>
                                <textarea class="input_field required form-control about-query" name="message" placeholder="Tell Me About Your Query."></textarea>
                            </form>
                            <div>
                                <button class="message">SEND MESSAGE</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fixed">
            <a href="#">
                <img src="Images/chevrons-up (1).svg" alt="chevrons-up (1)">
            </a>
        </div>
    </section>
</footer>
</body>
</html>