<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="CSS/main.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
     <!-- Portfolio -->
     <section class="background-about" id="portfolio">
        <div class="container">
            <div class="h1 text-light plans">PORTFOLIO</div>
            <div class="row wrap">
                <div class="col-sm-12 col-md-4 col-lg-4 col-12">
                    <a data-fancybox href="Images/First.jpg" data-caption="Hello world">
                        <img class="width mt-5" src="Images/First.jpg" alt="First"/>
                    </a>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4 col-12">
                    <a data-fancybox href="Images/Code_2.jpg" data-caption="Hello world">
                        <img class="width mt-5" src="Images/Code_2.jpg" alt="First"/>
                    </a>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4 col-12">
                    <a data-fancybox href="Images/Fourth.jpg" data-caption="Hello world">
                        <img class="width mt-5" src="Images/Fourth.jpg" alt="First"/>
                    </a>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4 col-12">
                    <a data-fancybox href="Images/Code_1.jpeg" data-caption="Hello world">
                        <img class="width mt-5" src="Images/Code_1.jpeg" alt="First"/>
                    </a>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4 col-12">
                    <a data-fancybox href="Images/Second.jpg" data-caption="Hello world">
                        <img class="width mt-5" src="Images/Second.jpg" alt="First"/>
                    </a>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4 col-12">
                    <a data-fancybox href="Images/Code_3.jpeg" data-caption="Hello world">
                        <img class="width mt-5" src="Images/Code_3.jpeg" alt="First"/>
                    </a>
                </div>
                <!-- <div class="col-sm-12 col-md-4 col-lg-4 col-12">
                    <img class="width mt-5" src="Images/First.jpg" alt="First">
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4 col-12">
                    <img class="width mt-5" src="Images/Code_2.jpg" alt="Code_2">
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4 col-12">
                    <img class="width mt-5" src="Images/Fourth.jpg" alt="Fourth">
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4 col-12">
                    <img class="width mt-5" src="Images/Code_1.jpeg" alt="Code_1">
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4 col-12">
                    <img class="width mt-5" src="Images/Second.jpg" alt="Second">
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4 col-12">
                    <img class="width mt-5" src="Images/Code_3.jpeg" alt="Code_3">
                </div> -->
            </div>
        </div>
    </section>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="list-unstyled canvas align-items-center">
                <hr>
                <li>
                    <a class="text-dark decoration1 text1" href="#home">HOME</a>
                </li>
                <hr>
                <li>
                    <a class="text-dark decoration1 text1" href="#about">ABOUT</a>
                </li>
                <hr>
                <li>
                    <a class="text-dark decoration1 text1" href="#service">SERVICE</a>
                </li>  
                <hr>
                <li>
                    <a class="text-dark decoration1 text1" href="#portfolio">PORTFOLIO</a>
                </li>
                <hr>
                <li>
                    <a class="text-dark decoration1 text1" href="#contact">CONTACT</a>
                </li>
                <hr>
            </ul>
        </div>
      </div>
      
</body>
</html>