<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="CSS/main.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <!-- Service -->
    <section class="background-about" id="service">
        <div class="container">
            <div class="h1 text-light service">OUR SERVICES</div>
                <div class="row justify-content-center">
                    <div class="col-sm-12 col-md-4 col-lg-4 col-12">
                        <div class="card bg-light card-bg">
                            <div class="icon">
                                <img src="Images/desktop-solid.svg" alt="desktop-solid">
                            </div>
                            <div class="h5 design1">Unique Design</div>
                            <p class="pt-3 text-secondary overflow-auto">I design and develop services for customers of all sizes, specializing in creating stylish, modern websites.</p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4 col-12">
                        <div class="card bg-light card-bg">
                            <div class="icon">
                                <img src="Images/tags-solid.svg" alt="tags-solid">
                            </div>
                            <div class="h5 design2">Website Design</div>
                            <p class="pt-3 text-secondary overflow-auto">We'll translate your vision into a beautiful and functional website that sets you apart from the competition.</p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4 col-12">
                        <div class="card bg-light card-bg">
                            <div class="icon">
                                <img src="Images/comments-regular.svg" alt="comments-regular">
                            </div>
                            <div class="h5 design3">Website Development</div>
                            <p class="pt-3 text-secondary overflow-auto">Transform your vision into reality with our custom website design and development services.</p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4 col-12">
                        <div class="card bg-light card-bg">
                            <div class="icon">
                                <img src="Images/modx.svg" alt="modx">
                            </div>
                            <div class="h5 design4">Responsive Design</div>
                            <p class="pt-3 text-secondary overflow-auto">We'll ensure that your website looks and functions flawlessly across all devices and screen sizes.</p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4 col-12">
                        <div class="card bg-light card-bg">
                            <div class="icon">
                                <img src="Images/memory-solid.svg" alt="memory-solid">
                            </div>
                            <div class="h5 design5">Website Re-Design</div>
                            <p class="pt-3 text-secondary overflow-auto">Website redesign and optimization services can breathe new life into your online presence.</p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4 col-12">
                        <div class="card bg-light card-bg">
                            <div class="icon">
                                <img src="Images/screwdriver-wrench-solid.svg" alt="screwdriver-wrench-solid">
                            </div>
                            <div class="h5 design6">Custom Design</div>
                            <p class="pt-3 text-secondary overflow-auto">Our team of talented designers will work closely with you to create a custom website design that  your identity and vision.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>